$primary_color: #000;
$secondary_color: red;
$white: #FFF;
$error_color: red;
$disabled_color: lightgray;
$border_primary: #000;
$hover_primary_border: rgba($border_primary, .3);
$focus_primary_border:yellow;
$border_secondary: black;
$hover_secondary_border: rgba($border_secondary, .8);
$focus_secondary_border: rgba($border_secondary, 1.1);