@import "color";

@mixin button_mixin {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border: .1rem solid $primary_color;
  border-radius: .5rem;
  color: $white;
  padding: .8rem 1.8rem;
  cursor: pointer;
  transition: .2s;
}
@mixin input_container {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  border: .15rem solid $border_primary;
  padding: .7rem 1rem;
  border-radius: .6rem;
  width: 100%;
  transition: .2s;
  &:hover {
    border-color: $hover_primary_border;
  }
}