@import "src/theme/variables";

@mixin error_padding {
  margin: .4rem 0;
  height: 1.6rem;
}

.visible {
  @include error_padding;
  font-size: 1.2rem;
  color: $error_color;
  opacity: 1;
}

.hidden {
  @include error_padding;
  opacity: 0;
}